N8N_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_WEBHOOK_URL=http://localhost:5678/
N8N_TIMEZONE=Asia/Kolkata

N8N_DB_NAME=n8n
N8N_DB_USER=n8n
N8N_DB_PASSWORD=n8n_password

N8N_ENCRYPTION_KEY=replace_with_long_random_key
N8N_SECURE_COOKIE=false
N8N_RUNNERS_ENABLED=true

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=replace_this_password
